<div style="float:right;">
  <div><%= producto.nombre %></div>
  <div style="clear:both"><%= producto.descripcion %></div>
  <div style="clear:both"><%= image_tag producto.imagen.url(:medium) %></div>
</div>
