<div style="float:left;">
<ul class="gallery">
  <% categoria.productos.each do |producto| %>
    <li class="imageThumb"><a href="<%= producto.imagen.url(:medium)%>" rel="prettyPhoto[gallery2]" title="You can add caption to pictures."><img src="<%= producto.imagen.url(:thumb)%>" width="60" height="60" alt="Red round shape" /></a></li>
  <% end %>
</ul>
</div>
