<%= javascript_include_tag 'prettyPhoto' %>
<%= stylesheet_link_tag 'prettyPhoto' %>

<h1>Categor&iacute;as</h1>
<div id = "div-categorias">
	<%= render :partial => "categorias", :locals => {:categorias => @categorias} %>
</div>
