<!DOCTYPE html>
<html>
<head>
	<title>Flor de Ajedrez | El placer del cacao</title>
	<meta type='description' content='Flor de Ajedrez es un importador y distribuidor de Chocolates Alemanes' />
	<meta type='keywords' content='Flor de Ajedrez, chocolate, chocolates alemanes, Ritter Sport, Costa Rica' />
	<meta name='author' content='Daniel &amp; Norman | Dos es mejor' />
	<meta http-equiv='content-type' content='text/html;charset=UTF-8' />
        <%= stylesheet_link_tag 'style.css.erb','jcarousel.css' %>
        <%= javascript_include_tag :application,'jquery-ui-1.8.17.custom.min.js','script.js','jquery.jcarousel.min.js' %>
</head>
<body>
<%= yield %>
</body>
</html>
